<mat-toolbar color="primary" class="d-flex space-between">
    <div class="logo-and-menu d-flex">
        <mat-icon aria-hidden="false" matTooltip="Logout" (click)="toggleMenu()">menu</mat-icon>
        <img src="./../../../../assets/logo.svg" />
        <div class="side-bar d-flex" [class.full-width-menu]="isfullMenu" (mouseenter)="showFullMenu(true)"
            (mouseleave)="showFullMenu(false)">
            <app-side-menu></app-side-menu>
        </div>
    </div>

    <div class="logoout">
        <mat-icon aria-hidden="false" matTooltip="Logout">exit_to_app</mat-icon>
    </div>
</mat-toolbar>