@import '~@angular/material/theming';

@mixin theme-color-grabber($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  .primaryColorText {
    color: mat-color($primary);
  }
  .primaryColorBG {
    background-color: mat-color($primary);
  }
  .accentColorText {
    color: mat-color($accent);
  }
  .accentColorBG {
    background-color: mat-color($accent);
  }

}